# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

# Alumni members
# @kjdelisle @loay @ssh24 @virkt25 @b-admike @zbarbuto @elv1s

# Core team members
* @jannyHou @dhmlau @emonddr @agnes512
